						/*            1200px Screen Start        */

@media only screen and (max-width: 1200px){



}

						/*            1200px Screen End        */

						/*            980px Screen Start        */

@media only screen and (max-width:980px){

	.companies li{
		width: 48%;
		margin:0 0 20px 4%;
	}
	.companies li:nth-child(4n+1){margin-left: 4%;}
	.companies li:nth-child(2n+1){margin-left: 0;}

	.parallax{height: 500px;}

	.gallery li{width: 50%;}
	
}

						/*            980px Screen End        */

						/*            860px Screen Start        */

@media only screen and (max-width:860px){



}

						/*            860px Screen End        */

						/*            740px Screen Start        */

@media only screen and (max-width:740px){



}

						/*            740px Screen End        */	

						/*            640px Screen Start        */

@media only screen and (max-width:640px){

	.navigation{
		overflow-x: auto;
		white-space: nowrap;
	}

	.navigation ul li a{
		min-width: 80px;
		font-size: 11px;
		padding:7px 5px;
		margin:0 2px;
	}

	.navigation{padding-top:4px;}
	.navigation.sticky{top:-10px;}

	.navigation.sticky ul li a:hover, .navigation.sticky ul li a.active:not(.btt){
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.companies li{
		float: none;
		width: 100%;
		margin:0 0 20px 0 !important;
	}
	.companies li:last-child{margin-bottom: 0 !important;}

	.companies li h4{
		min-height: 0;
		margin-top:10px;
	}

	.parallax{height: 420px;}

	.video-layer h3{
		font-size: 19px;
		text-align: justify;
	}

	.mini-section blockquote{padding:15px 0;}

	.footer-top{padding:10px 0 12px 0;}

	.number-bullet{padding-left: 0;}

	.number-bullet li{margin-bottom: 4px;}

}

						/*            640px Screen End        */											

						/*            560px Screen Start        */						

@media only screen and (max-width: 560px){

	.button-holder .bttn.large{
		display: block;
		margin:10px 0;
	}

	.video-overlay .inner-overlay-box{padding:10px;}

}

						/*            560px Screen End        */

						/*            400px Screen Start        */

@media only screen and (max-width:400px){

	.navigation ul li a{
		min-width: 50px;
		font-size: 11px;
		padding:7px 5px;
		margin:0 2px;
	}

	.navigation.sticky{top:-10px;}

	#banner{
		margin-top: 42px;
    	border-top: 2px solid #000000;
	}

	.parallax{height: 350px;}

	.video-layer h3{
		font-size: 16px;
		text-align: justify;
	}

	.button-holder{margin-top:20px;}

	.gallery li{width: 100%;}

	.scrollme{width: 200px;}

}

						/*            400px Screen End        */										
