.navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top:10px;
	z-index: 999999;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

.navigation.sticky{
	top:-12px;
	padding-top:1px;
}

.navigation ul li {
	display: inline-block;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

.navigation ul li a{
	display:block;
	min-width: 130px;
	font-size:15px;
	padding:7px 15px;
	margin:0 3px;
	background-color:#ffffff;
	border:2px solid #000000;
	border-radius: 5px;
}

.navigation ul li a.active:not(.btt){
	color:#ffffff;
	background-color:#9b3027;
}

.navigation.sticky ul li a{
	margin:0 1px;
	opacity: .9;
}

.navigation.sticky ul li a:hover,
.navigation.sticky ul li a.active:not(.btt){
	opacity: 1;
	-webkit-transform:translateY(6px);
	-moz-transform:translateY(6px);
	transform:translateY(6px);
}

.tp-banner-container{
	position:relative;
	width:100%;
}

.tp-banner{
	position:relative;
	width:100%;
	background-color: #000000;
}

.tp-banner-fullscreen-container{
	position:relative;
	width:100%;
}

.companies li{
	float:left;
	width:23.5%;
	padding:25px 15px;
	margin-left: 2%;
	background-color: #ffffff;
	border:2px solid #000000;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px #a9a9a9;
	-moz-box-shadow: 0 0 15px #a9a9a9;
	box-shadow: 0 0 15px #a9a9a9;
}
.companies li:nth-child(4n+1){margin-left: 0;}

.companies li h4{
	min-height: 70px;
	margin-top:20px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.companies li p span,
.companies li:hover h4{color:#9b3027;}

.companies a{display: block;}

.parallax{
	position:relative;
	width:100%;
	height:600px;
	overflow:hidden;
	background:url('../images/parallax/video-image.jpg') no-repeat center #000000;
	background-size: cover;
}

.parallax video{
	min-width: 100%;
	min-height:100%;
}

.video-layer{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
}

.mini-section blockquote{
	position: relative;
	top:0;
	left:0;
	text-align: justify;
	padding:15px;
	visibility:hidden;
	opacity: 0;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
}

.mini-section blockquote.secondQuote{position: absolute;}

.mini-section blockquote.active{
	visibility:visible;
	opacity: 1;
}

.mini-section blockquote span{
	display:inline-block;
	line-height: 1;
	font-size:35px;
	color:#000000;
	padding: 0 0 0 5px;
}

.quote-buttons span{
	display:inline-block;
	width:12px;
	height:12px;
	margin:0 2px;
	cursor:pointer;
	background-color: transparent;
	border:2px solid #000000;
	border-radius: 100%;
}

.quote-buttons span.active{background-color:#000000;}

.mini-section blockquote::before{content:url(../images/icons/quote.png);}
.mini-section blockquote::after{content:url(../images/icons/quote2.png);}

.gallery{
	width:100%;
	overflow:hidden;
}

.gallery li{
	float:left;
	width:25%;
}

.gallery li img{
	display: block;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
	transition:all .3s;
}

.gallery li:hover img{
	filter: none;
    -webkit-filter: grayscale(0);
}

.footer{
	color:#bababa;
	background-color:#000000;
	border-top:1px solid #2a2a2a;
}

.footer-top{
	text-align:center;
	padding:15px 0 17px 0;
}

.footer-top h3{
	color:#ffffff;
	padding: 5px 0 10px 0;
}

.footer-top a{
	display:inline-block;
	margin:5px;
}
.footer-top a:hover{color:#ffffff;}

.footer-top h3{
	-webkit-animation:footer 1.4s infinite alternate;
	-moz-animation:footer 1.4s infinite alternate;
	animation:footer 1.4s infinite alternate;
}

@keyframes footer{
	0%{opacity:1}
	100%{opacity:0.1}
}

@-webkit-keyframes footer{
	0%{opacity:1}
	100%{opacity:0.1}
}

.copyright{
	width:100%;
	clear:both;
	color:#bbb;
	text-align:center;
	padding:20px 0;
	border-top:1px solid #2a2a2a;
}

.copyright a:hover{color:darkorange;}

.sport-box img{border-radius: 5px;}

.form-wrapper{
	padding:20px 10px;
	border:2px solid #000000;
	border-radius: 5px;
}

.form-title{
	color:#ffffff;
	text-align: center;
	padding:7px;
	background-color: #000000;
	border-radius: 5px;
	-webkit-transition:all .3s;
    -moz-transition:all .3s;
	transition:all .3s;
}

.form-title.active{background-color: #61bd61;}

.thankyou-overlay .inner-overlay-box{max-width: 400px;}

.video-overlay .inner-overlay-box{
	max-width: 980px;
	padding:30px;
}

.video-wrapper{
	overflow: hidden;
	border-radius: 5px;
}
